[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = https://github.com/mattn/gist-vim
[submodule "vim/bundle/webapi"]
	path = vim/bundle/webapi
	url = https://github.com/mattn/webapi-vim
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
	ignore = untracked
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/over"]
	path = vim/bundle/over
	url = https://github.com/osyo-manga/vim-over
[submodule "vim/bundle/wordy"]
	path = vim/bundle/wordy
	url = https://github.com/reedes/vim-wordy.git
[submodule "vim/bundle/lexical"]
	path = vim/bundle/lexical
	url = https://github.com/reedes/vim-lexical.git
[submodule "vim/bundle/litecorrect"]
	path = vim/bundle/litecorrect
	url = https://github.com/reedes/vim-litecorrect.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/flow"]
	path = vim/bundle/flow
	url = https://github.com/flowtype/vim-flow.git
[submodule "vim/bundle/mjml"]
	path = vim/bundle/mjml
	url = https://github.com/amadeus/vim-mjml.git
[submodule "vim/bundle/flow-plus"]
	path = vim/bundle/flow-plus
	url = https://github.com/carlosrocha/vim-flow-plus
[submodule "vim/bundle/polyglot"]
	path = vim/bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
