snippet action
	/**
	 * ${1:name}Action action.
	 */
	public function ${2:$1}Action(${3:params})
	{${4}
	}
snippet cl
	<?php

	namespace ${1:ns};

	/**
	 * ${2:`Filename()`} class
	 *${3}
	 * @author `g:snips_author`
	 */
	 class ${4:$2}
	 {
		${5}
	 }
snippet get
	public function get${1:Property}()
	{
		return ${2$this->};
	}
	${3}
snippet set
	public function set${1:Property}(${2})
	{
		${3} = ${4:$2};
	}
	${5}
