<?php

namespace ${3:`substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\\\', 'g')`};

/**
 * ${4:Class documentation}
 *
 * @author     `g:snips_author`
 */
class ${2:`Filename('', 'myClass')`}
{
	${1}
}

