/**
 * ${3:Variable comment}
 *
 * @var ${4:string}
 */
${1:protected} $${2:};

${6}
/**
 * @return $4
 */
public function get${5:}()
{
	return $this->$2;
}

/**
 * @param  $4
 * @return null
 */
public function set$5($$2)
{
	$this->$2 = $$2;
}
