snippet flow
	/* @flow */
snippet notcalled
	sinon.assert.notCalled(${0});
snippet called
	sinon.assert.called(${0});
snippet callcount
	sinon.assert.callCount(${1}, ${2:1});
snippet calledwith
	sinon.assert.calledWith(${1}, ${0});
