snippet bcss
	{% block stylesheets %}
		${1}
	{% endblock stylesheets %}

snippet bjs
	{% block javascripts %}
		${1}
	{% endblock javascripts %}

snippet bbody
	{% block body %}
		${1}
	{% endblock body %}

snippet bcontent
	{% block content %}
		${1}
	{% endblock content %}

snippet extends
	{% extends '${1}' %}
